my_entorno_env/
.venv/
**/.venv/
__pycache__/
*.pyc
airflow_project/mlruns/
airflow_project/mlruns/*
airflow_project/dags/__pycache__
airflow_project/airflow_metadata/*
airflow_project/data/*
airflow_project/diagrama.png
airflow_project/diagrama_arquitectura_mermaid.md
airflow_project/mlflow_metadata/*
notebooks_clase/tema_2_microservicios/artifacts/*
notebooks_clase/tema_2_microservicios/decisiontree-v01.pkl
notebooks_clase/tema_3_mlflow/.ipynb_checkpoints/*
notebooks_clase/tema_3_mlflow/mlruns/*
notebooks_clase/tema_3_mlflow/mlruns_tarea_mlflow/*
notebooks_clase/tema_3_mlflow/notebooks_clase/*